reference: https://github.com/NLP-LOVE/ML-NLP/blob/master/Machine%20Learning/3.2%20GBDT/GBDT_demo.ipynb

In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import GradientBoostingRegressor

### Get train data

In [2]:
train_feature = np.genfromtxt("train_feat.txt", dtype=np.float32)
# turn into array
train_feature

array([[ 5.98802e-03,  5.69231e-01,  6.47059e-01,  9.51220e-01,
        -2.25434e-01,  8.37989e-01,  3.57258e-01, -3.05810e-03,
        -3.83475e-01,  3.20000e+02],
       [ 1.61677e-01,  7.43195e-01,  6.82353e-01,  9.60976e-01,
        -8.67052e-02,  7.80527e-01,  2.82945e-01,  1.49847e-01,
        -5.29661e-02,  3.61000e+02],
       [ 1.13772e-01,  7.44379e-01,  5.41176e-01,  9.90244e-01,
        -5.78035e-03,  7.21468e-01,  4.34110e-01, -3.18043e-01,
         2.88136e-01,  3.64000e+02],
       [ 5.38922e-02,  6.08284e-01,  7.64706e-01,  9.51220e-01,
        -2.48555e-01,  8.21229e-01,  8.48604e-01, -3.05810e-03,
         2.39407e-01,  3.36000e+02],
       [ 1.73653e-01,  8.66272e-01,  6.82353e-01,  9.51220e-01,
         1.73410e-02,  7.04709e-01, -2.10016e-02, -1.95719e-01,
         1.50424e-01,  3.58000e+02]], dtype=float32)

In [5]:
num_feature = len(train_feature[0])
# the number of feature in one row
num_feature

10

In [6]:
train_feature = pd.DataFrame(train_feature)

In [7]:
# turn into dataframe
train_feature

,0,1,2,3,4,5,6,7,8,9
0,0.005988,0.569231,0.647059,0.951220,-0.225434,0.837989,0.357258,-0.003058,-0.383475,320.0
1,0.161677,0.743195,0.682353,0.960976,-0.086705,0.780527,0.282945,0.149847,-0.052966,361.0
2,0.113772,0.744379,0.541176,0.990244,-0.005780,0.721468,0.434110,-0.318043,0.288136,364.0
3,0.053892,0.608284,0.764706,0.951220,-0.248555,0.821229,0.848604,-0.003058,0.239407,336.0
4,0.173653,0.866272,0.682353,0.951220,0.017341,0.704709,-0.021002,-0.195719,0.150424,358.0

In [11]:
train_label = train_feature.iloc[:, num_feature - 1]
train_label

0    320.0
1    361.0
2    364.0
3    336.0
4    358.0
Name: 9, dtype: float32

In [12]:
train_feature = train_feature.iloc[:, 0:num_feature - 2]
train_feature

,0,1,2,3,4,5,6,7
0,0.005988,0.569231,0.647059,0.951220,-0.225434,0.837989,0.357258,-0.003058
1,0.161677,0.743195,0.682353,0.960976,-0.086705,0.780527,0.282945,0.149847
2,0.113772,0.744379,0.541176,0.990244,-0.005780,0.721468,0.434110,-0.318043
3,0.053892,0.608284,0.764706,0.951220,-0.248555,0.821229,0.848604,-0.003058
4,0.173653,0.866272,0.682353,0.951220,0.017341,0.704709,-0.021002,-0.195719

###  Get test data